<div class="content">
  <div class="list">
     <a class="item" ng-repeat="x in listInfo" ng-click="showDetails('{{x.wotId}}')">
      <span class="list-display ng-binding" style="min-width: 20%;">{{x.wotPlace}}</span>
      <span class="list-display ng-binding" style="min-width: 20%;">{{x.wotTime}}</span>
      <span class="list-display ng-binding" style="min-width: 30%;">{{x.wotOverTimeDate}}</span>
      <span class="list-display ng-binding" style="min-width: 25%;">{{x.wotOverTimeState}}</span>
     </a>
   </div>
</div>